
  <%- include('partials/header.ejs') %>

  <body>
      
      <!-- NAV SECTION -->
      <%- include('partials/navbar.ejs') %>
  
      <!-- Register Section -->
        <section class="pt-28 flex items-center justify-center">
            <div class="mb-20 p-5 flex items-center justify-center flex-col">
                <h1 class="text-center text-2xl font-semibold text-green-500 max-w-[400px] my-10">Email Confirmed, you can log in to your account</h1>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-32 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                <a href="login" class="text-green-500 text-lg border-b mt-10 border-green-500">Login</a>
            </div>
        </section>
  
      <!-- <%- include('partials/footer.ejs') %> -->
      <!-- Javascript codes and links -->
  
  </body>
  </html>