<%- include('partials/header.ejs') %>

    <body class="relative" style="background-color: #252525;">
        <!-- Nav Section -->
        <%- include('partials/dashnav.ejs') %>

            <div class=" overflow-x-hidden grid grid-cols-4">
                <!-- SideBar -->
                <%- include('partials/dashside.ejs') %>

                    <!-- Main Section -->
                    <section class="col-span-4 md:col-span-3 mt-16">
                        <script src="/public/js/dash2.js"></script>
                        <script>
                            const newUser = JSON.parse(window.localStorage.getItem('user'));
                            const allRefs = JSON.parse(window.localStorage.getItem('ref'))

                        </script>
                        <div class="mt-10 m-5">
                            <h1 class="ultra text-4xl text-center mt-12">My Dashboard</h1>
                            <div class="mb-5">
                                <div
                                    class="border border-gray-800 rounded-md lightDark p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1 max-w-[900px] mx-auto">
                                    <h1 class="ultra text-xl md:text-4xl mt-4 text-green-500 tracking-wider text-center fullName">
                                        <p class="fullname max-w-[500px] m-5 text-center mx-auto">
                                            <script>
                                                document.querySelector(".fullname").innerHTML = "Welcome " + newUser.name;
                                            </script>
                                        </p>
                                    </h1>
                                    <p class="text-green-100 text-center">Enjoy a lot of benefits as a citizen of NairaCity</p>
                                    <div class="greenLine h-[2px] my-5 w-full"></div>
                                    <!-- <p class="text-3xl mb-10 ultra">NGN 6,000</p> -->
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">Total Amount of Trades: 
                                            <b class="mineTotal">
                                                <script>

                                                     const mineTotal = document.querySelector(".mineTotal");

                                                        if( ((new Date().getTime() - newUser.lastMinedDate) / (1000 * 60 * 60 * 24) ) < 1  ){

                                                            switch (newUser.package) {

                                                            case "special":
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 500 ) / 500 )?.toLocaleString()
                                                                break;

                                                            case "premium":
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 1000 ) / 1000 )?.toLocaleString()
                                                                break;

                                                            case "pro":
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 2000 ) / 2000 )?.toLocaleString()
                                                                break;

                                                            case "lite":{
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 5000 ) / 5000 )?.toLocaleString()
                                                            }
                                                                break;

                                                            case "xlite":
                                                                console.log(newUser.lastMinedAmout)
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 10000 ) / 10000 )?.toLocaleString()
                                                                break;

                                                            default:
                                                                mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout - 200 ) / 200 )?.toLocaleString()
                                                                break;
                                                            }

                                                            } else {

                                                                switch (newUser.package) {

                                                                    case "special":
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 500 )?.toLocaleString()
                                                                        break;

                                                                    case "premium":
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 1000 )?.toLocaleString()
                                                                        break;

                                                                    case "pro":
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 2000 )?.toLocaleString()
                                                                        break;

                                                                    case "lite":{
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 5000 )?.toLocaleString()
                                                                    }
                                                                        break;

                                                                    case "xlite":
                                                                        console.log(newUser.lastMinedAmout)
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 10000 )?.toLocaleString()
                                                                        break;

                                                                    default:
                                                                        mineTotal.innerHTML = Math.ceil( (newUser.lastMinedAmout ) / 200 )?.toLocaleString()
                                                                        break;
                                                                    }


                                                            }
                                                </script>
                                            </b>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">Trading Balance: 
                                          <b class="mineBalance">
                                            <script>

                                                const mineBalance = document.querySelector(".mineBalance");

                                                   if( ((new Date().getTime() - newUser.lastMinedDate) / (1000 * 60 * 60 * 24) ) < 1  ){

                                                       switch (newUser.package) {

                                                       case "special":
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 500 ))?.toLocaleString()
                                                           break;

                                                       case "premium":
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 1000 ))?.toLocaleString()
                                                           break;

                                                       case "pro":
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 2000 ))?.toLocaleString()
                                                           break;

                                                       case "lite":{
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 5000 ))?.toLocaleString()
                                                       }
                                                           break;

                                                       case "xlite":
                                                           console.log(newUser.lastMinedAmout)
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 10000 ))?.toLocaleString()
                                                           break;

                                                       default:
                                                           mineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 200 )  )?.toLocaleString()
                                                           break;
                                                       }

                                                       } else {

                                                            mineBalance.innerHTML = newUser.lastMinedAmout?.toLocaleString()

                                                       }
                                           </script>
                                          </b>
                                         <b>Naira</b>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">Referall Balance: 
                                            <b class="refBalance">
                                                <script>
                                                    document.querySelector(".refBalance")
                                                    .innerHTML = ( (allRefs.verifiedReferred * 1000) - newUser.amountWithdrawn )?.toLocaleString()                             
                                               </script>
                                            </b>
                                            <b>Naira</b>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">Total Verified Referalls: 
                                            <b class="totalRef">
                                                <script>
                                                    document.querySelector(".totalRef").innerHTML = allRefs.verifiedReferred                               
                                               </script>
                                            </b>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">NairaCity Package: 
                                            <span class="packageType text-yellow-500">
                                                <script>
                                                    document.querySelector(".packageType").innerHTML = newUser.package                      
                                               </script>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-center justify-between">
                                        <div class="greenDot"></div>
                                        <p class="flex-1 font-semibold text-lg">Status:
                                            <b class="verified p-2">
                                                <script>
                                                    const verifiedStatus = document.querySelector(".verified")
                                                    if(newUser.verified){
                                                        verifiedStatus.innerHTML = "Verified";
                                                        verifiedStatus.classList.add("text-green-500")                       
                                                    } else {
                                                        verifiedStatus.innerHTML = "Not Verified";
                                                        verifiedStatus.classList.add("text-pink-500")                       
                                                    }
                                               </script>
                                            </b>
                                        </p>
                                    </div>
                                    <div class="w-full p-5 flex gap-5 items-start justify-start veriyParent">
                                        <div class="greenDot mt-3"></div>
                                        <form class="verifyForm flex flex-col w-full items-start">
                                            <p class="flex-1 font-semibold text-lg apiError"></p> 
                                            <p class="flex-1 font-semibold text-lg ">Verify Account (Enter Coupon Code): </p> 
                                            <input type="text" name="accountNumber" placeholder="Enter the coupon code you bouught from our vendor" class="outline-none rounded-md w-[95%] max-w-[800px] p-2 border-b border-green-700 bg-transparent verifyInput" >
                                            <button type="submit" class="greenBtn shadow-md shadow-green-700 py-2 rounded-md px-10 font-bold text-md tracking-wide my-2 block verifyBtn">Verify</button>
                                        </form>
                                        <script>
                                             newUser.verified && document.querySelector(".veriyParent").classList.add("hidden")
                                            const verifyForm = document.querySelector(".verifyForm")
                                            const Input = document.querySelector(".verifyInput")
                                            const verifyButton = document.querySelector(".verifyBtn")
                                            const verifyApiError = document.querySelector(".apiError")

                                             function veifyUserAccount(e){

                                                    e.preventDefault();

                                                    const userInfo = {
                                                    email: newUser.email,
                                                        coupon: Input.value
                                                    } 

                                                    verifyButton.innerHTML = "Verifying..."

                                                    fetch(`${url}/user/verify`, {
                                                        method: "PUT",
                                                        body: JSON.stringify(userInfo),
                                                        headers: {
                                                        "Content-type": "application/json; charset=UTF-8",
                                                        },
                                                    })
                                                        .then(function (response) {
                                                            if (response.ok) {
                                                                return response.json();
                                                            } else {
                                                                return response.text().then((text) => {
                                                                    verifyApiError.innerHTML = text;
                                                                    verifyApiError.classList.remove("hidden")
                                                                    verifyButton.innerHTML = "Verify"
                                                                    return Promise.reject()
                                                                });
                                                            }
                                                            return Promise.reject(response);
                                                        })
                                                        .then(function (data) {

                                                        console.log(data)

                                                        const {verified, ...others} = newUser;
                                                        const newVerifiedUser = {...others, verified: true}
                                                        localStorage.setItem("user", JSON.stringify(newVerifiedUser))
                                                            window.location.reload()

                                                        })
                                                        .catch(function (err) {
                                                        console.log(err)
                                                        })
                                                    }

                                                verifyForm.addEventListener("submit", veifyUserAccount)
                                        </script>
                                    </div>
                                </div>
                                <div class="border border-gray-800 rounded-md bg-black p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1 max-w-[900px] mx-auto">
                                    <h1 class="ultra text-xl md:text-4xl mt-4 text-green-500 tracking-wider text-center">
                                        NairaCity Trading Engine
                                    </h1>
                                    <p class="text-green-100 text-center">Our AI bot trades your money on the background <br> and returns profit every 24 Hours</p>
                                    <img src="/public/img/minemine.gif" class="hidden w-[300px] object-contain mineGIf" alt="">
                                    <img src="/public/img/oops.png" class="w-[300px] object-contain oops" alt="">
                                    <img src="/public/img/power.jpg" class="hidden w-[300px] object-contain oops power cursor-pointer" alt="">
                                    <p class="text-sm text-center font-bold hidden mining">Trading...</p>
                                    <p class="mine24 text-gray-100 text-md font-semibold text-center mx-5 hidden">Click to activate AI bots to help you trade for the next 24 hours
                                    </p>
                                    <div class="hidden minemineParent">
                                        <p class="text-green-500 font-bold text-center text-lg mt-5">Total amount traded:
                                        </p>
                                        <p class="bg-gray-400 py-3 px-20 rounded-md text-black ultra text-2xl text-center">NGN <span class="boldMineBal">
                                            <script>
                                                const boldMineBalance = document.querySelector(".boldMineBal")
                                                if( ((new Date().getTime() - newUser.lastMinedDate) / (1000 * 60 * 60 * 24) ) < 1  ){

                                                    switch (newUser.package) {

                                                    case "special":
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 500 ))?.toLocaleString()
                                                        break;

                                                    case "premium":
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 1000 ))?.toLocaleString()
                                                        break;

                                                    case "pro":
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 2000 ))?.toLocaleString()
                                                        break;

                                                    case "lite":{
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 5000 ))?.toLocaleString()
                                                    }
                                                        break;

                                                    case "xlite":
                                                        console.log(newUser.lastMinedAmout)
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 10000 ))?.toLocaleString()
                                                        break;

                                                    default:
                                                        boldMineBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 200 )  )?.toLocaleString()
                                                        break;
                                                    }

                                                    } else {

                                                        boldMineBalance.innerHTML = newUser.lastMinedAmout?.toLocaleString()

                                                    }
                                                </script>
                                        </span>
                                        </p>
                                        
                                    </div>
                                    <div class="buyCoup">
                                        <p class="text-green-500 font-bold text-center text-lg mt-5">Verify your account to initialize AI bots for trading
                                        </p>
                                        <p class="text-gray-100 text-md font-semibold text-center mx-5">Buy a coupon code from our vendor and enter it in your dashboard to verify your account, <a href="deposit" class="text-green-800 border-b border-green-800">click here</a> to buy a coupon code for any package.
                                        </p>
                                    </div>
                                    <script>

                                        const power = document.querySelector(".power")
                                        const minemineParent = document.querySelector(".minemineParent")
                                        const mining = document.querySelector(".mining")
                                        const mineGIf = document.querySelector(".mineGIf")
                                        const oops= document.querySelector(".oops")
                                        const mine24 = document.querySelector(".mine24")
                                        const buyCoupon = document.querySelector(".buyCoup")

                                        newUser.verified && (buyCoupon.classList.add("hidden"))
                                        newUser.verified && (oops.classList.add("hidden"))
                                                                                
                                        if( ( ((new Date().getTime() - newUser.lastMinedDate) / (1000 * 60 * 60 * 24))  < 1 ) && newUser.verified ){

                                        power.classList.add("hidden")
                                        minemineParent.classList.remove("hidden")
                                        mining.classList.remove("hidden")
                                        mineGIf.classList.remove("hidden")

                                        } else {

                                        newUser.verified && power.classList.remove("hidden")
                                        newUser.verified && mine24.classList.remove("hidden")
                                        minemineParent.classList.add("hidden")
                                        mining.classList.add("hidden")
                                        mineGIf.classList.add("hidden")

                                        }

                                        function startMine(){
                                            fetch(`${url}/user/mine/${user._id}`, {
                                                method: "PUT",
                                                headers: {
                                                "Content-type": "application/json; charset=UTF-8"
                                                },
                                            })
                                                .then(function (response) {
                                                if (response.ok) {
                                                    return response.json();
                                                }
                                                return Promise.reject(response);
                                                })
                                                .then(function (data) {

                                                    window.location.reload()

                                                    // localStorage.setItem("mine", JSON.stringify(data))
                                                })
                                                .catch(function (err) {
                                                console.log(err)
                                                })
                                        }

                                        power.addEventListener("click", startMine)

                                    </script>
                                </div>
                                <div class="flex items-center justify-center flex-wrap my-10 gap-5 max-w-[900px] mx-auto">
                                    <div
                                        class="border border-gray-800 rounded-md lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[400px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-xl">Trading Balance</p>
                                            <p class="ultra text-2xl text-gray-400">NGN 
                                                <span class="xrefBalance">
                                                    <script>

                                                        const tradingBalance = document.querySelector(".xrefBalance")

                                                        if( ((new Date().getTime() - newUser.lastMinedDate) / (1000 * 60 * 60 * 24) ) < 1  ){

                                                            switch (newUser.package) {

                                                            case "special":
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 500 ))?.toLocaleString()
                                                                break;

                                                            case "premium":
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 1000 ))?.toLocaleString()
                                                                break;

                                                            case "pro":
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 2000 ))?.toLocaleString()
                                                                break;

                                                            case "lite":{
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 5000 ))?.toLocaleString()
                                                            }
                                                                break;

                                                            case "xlite":
                                                                console.log(newUser.lastMinedAmout)
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 10000 ))?.toLocaleString()
                                                                break;

                                                            default:
                                                                tradingBalance.innerHTML = Math.ceil( (newUser.lastMinedAmout - 200 )  )?.toLocaleString()
                                                                break;
                                                            }

                                                            } else {

                                                                tradingBalance.innerHTML = newUser.lastMinedAmout?.toLocaleString()

                                                            }

                                                   </script>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                    <div
                                        class="border border-gray-800 rounded-md lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[400px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-xl">Referral Balance</p>
                                            <p class="ultra text-2xl text-gray-400 xreferalBalance">
                                                    <script>
                                                        document.querySelector(".xreferalBalance").innerText = "NGN " + ( (allRefs.verifiedReferred * 1000) - newUser.amountWithdrawn )?.toLocaleString();
                                                    </script>
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                    <div
                                        class="border border-gray-800 rounded-md lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[400px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-xl">Total Verified Referral</p>
                                            <p class="ultra text-2xl text-gray-400 xtotalReferall">
                                                <script>
                                                    document.querySelector(".xtotalReferall")
                                                    .innerHTML = allRefs.verifiedReferred                               
                                               </script>
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                    <div
                                        class="border border-gray-800 rounded-md lightDark p-7 shadow-md shadow-gray-700 flex items-center justify-between gap-10 w-full max-w-[400px] mx-auto">
                                        <div class="space-y-2">
                                            <p class="text-gray-200 font-bold text-xl">Total Amount Withdrawn</p>
                                            <p class="ultra text-2xl text-gray-400 amountWithdrawn">
                                                <script>
                                                    document.querySelector(".amountWithdrawn")
                                                    .innerHTML = newUser.amountWithdrawn                               
                                               </script>
                                            </p>
                                        </div>
                                        <div class="purpleGrad w-10 h-10 opacity-50"></div>
                                    </div>
                                </div>
                                <div class="border border-gray-800 rounded-md lightDark p-7 shadow-md shadow-gray-700 flex flex-col items-center justify-between gap-10 w-full max-w-[700px] mx-auto">
                                    <p class="text-gray-200 font-bold text-xl">Referral Link</p>
                                    <p class="text-red-400 mt-16 font-semibold text-lg hiddenRef">Your Referall link will appear when you verify your account</p>
                                    <p class="text-sm text-gray-400 rounded-md border border-green-600 p-2 w-full text-center refLink hidden refUsername">
                                        <script>
                                            document.querySelector(".refUsername")
                                            .innerHTML = "https://nairacity.herokuapp.com/register?ref=" + newUser.username                              
                                       </script>
                                    </p>
                                    <p class="py-2 px-4 rounded-md bg-pink-600 font-bold cursor-pointer copyBtn hidden">Copy Referall
                                        Link
                                    </p>
                                    <script>

                                        const copyBtn = document.querySelector(".copyBtn")
                                        const refLink = document.querySelector(".refLink")
                                        const hiddenRef = document.querySelector(".hiddenRef")

                                        const copyToClipboard = () => {
                                        if (navigator && navigator.clipboard && navigator.clipboard.writeText){
                                            navigator.clipboard.writeText(refLink.innerHTML)
                                            copyBtn.innerHTML = "Copied to clipboard"
                                            copyBtn.className = "py-2 px-4 rounded-md bg-green-600 font-bold cursor-pointer copyBtn"
                                        }
                                            // return navigator.clipboard.writeText(refLink.innerHTML);
                                        return Promise.reject('The Clipboard API is not available.');
                                        };

                                        copyBtn.addEventListener("click", copyToClipboard)
                                        newUser.verified && (hiddenRef.classList.add("hidden"))
                                        newUser.verified && (copyBtn.classList.remove("hidden"))
                                        newUser.verified && (refLink.classList.remove("hidden"))
                                    </script>
                                </div>
                            </div>
                            <div>
                                <!-- Table -->
                                <div class="w-[97%] p-4 rounded-md md:max-w-[1200px] mx-auto shadow-md m-2 space-y-5">
                                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
                                        <table class="w-full text-sm text-left">
                                            <thead class="text-xs text-gray-300 uppercase bg-gray-900">
                                                <tr>
                                                    <th scope="col" class="px-6 py-3">
                                                        User's Name
                                                    </th>
                                                    <th scope="col" class="px-6 py-3">
                                                        Date
                                                    </th>
                                                    <th scope="col" class="px-6 py-3">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="tableBody">

                                                <script>

                                                    const tableBody = document.querySelector(".tableBody")

                                                    allRefs.referred.forEach((ref) =>{

                                                    const tableRow = document.createElement("tr")

                                                    tableRow.className = "border-b hover:bg-opacity-70 bg-opacity-40 bg-gray-800 border-gray-700"

                                                    tableRow.innerHTML =

                                                    `
                                                        <th scope="row"
                                                            class="px-6 py-4 font-medium text-white whitespace-nowrap">
                                                            ${ref.name}
                                                        </th>
                                                        <td class="px-6 py-4">
                                                            ${ref.email}
                                                        </td>
                                                        <td class="px-6 py-4">
                                                            <p
                                                                class="${ref.verified ? "bg-green-600" : "bg-red-600"} cursor-pointer text-center p-2 text-sm max-w-[100px] rounded-md text-white hover:underline">
                                                                ${ref.verified ? "Verified" : "Not Verified"}
                                                            </p>
                                                        </td>

                                                    `
                                                    tableBody.appendChild(tableRow)

                                                    })


                                                </script>
                                      
                                                <!-- <tr
                                                    class="border-b hover:bg-opacity-70 bg-opacity-40 bg-gray-800 border-gray-700">
                                                    <th scope="row"
                                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                                        Mark Rodrugez
                                                    </th>
                                                    <td class="px-6 py-4">
                                                        test@gmail.com
                                                    </td>
                                                    <td class="px-6 py-4">
                                                        <p
                                                            class="bg-red-600 cursor-pointer text-center py-2 px-4 text-sm max-w-[100px] rounded-md text-white hover:underline">
                                                            Unverified
                                                        </p>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <footer class="flex items-center justify-between w-full bg-black bg-opacity-30 p-7">
                            <p class="text-gray-200 text-sm">2022 &copy NairaCity</p>
                            <p class="text-gray-200 text-sm">Designed & Developed by NairaCity Technologies Ltd</p>
                        </footer>
                    </section>
            </div>

            <!-- Javascript codes and links -->

        <script src="/public/js/dashboard.js"></script>
        <!-- <script src="/public/js/maindash.js"></script> -->

    </body>

    </html>