
  <%- include('partials/header.ejs') %>

<body>
	
	<!-- NAV SECTION -->
	<%- include('partials/navbar.ejs') %>

	<!-- Hero Section -->
	<section class="pt-32 p-5 flex items-center justify-center min-h-screen">
		<div class="flex flex-col md:flex-row items-center justify-center">
			<div class="flex items-center md:items-start justify-center flex-col gap-5">
				<div class="flex items-center justify-center">
					<img src="/public/img/FAVICON.png" class="h-10" alt="">
					<h1 class="text-5xl md:text-6xl ultra purples">aira<span class="blue">City</span></h1>
				</div>
				<h2 class="mt-4 text-xl text-center md:text-left italic tracking-wide max-w-[360px] md:max-w-[400px] text-gray-200">
					The city of earning online by simply mining with your mobile data and referring your friends to this awesome platform, you can immediately withdraw NGN 1,000 on every referall
				</h2>
				<a class="startBtn">
					<button class="dlbtn p-4 rounded-full px-10 font-bold text-lg tracking-wide">
						Get Started
					</button>
				</a>
				<script>
					const startBtn = document.querySelector('.startBtn');
					if(user){
						startBtn.href = '/dashboard';
					} else {
						startBtn.href = '/register';
					}
				</script>
			</div>
			<div>
				<img src="/public/img/heroNaira.gif" class="h-[400px] max-w-[300px] md:max-w-[500px] mx-5 object-contain w-[80%] mx-auto" alt="">
			</div>
		</div>
	</section>

	<!-- About NairaCity -->
	<section id="about" class="bg-[#1f1f1f] flex items-center justify-center p-5 w-screen">
		<div class="mt-20 mb-10">
			<div class="flex flex-col items-center justify-center gap-2">
				<h1 class="text-center text-4xl md:text-5xl ultra tracking-wide text-green-500">About NairaCity</h1>
				<p class="text-center italic text-md">The land of cool cash</p>
			</div>
			<!-- the long paragraph texts -->
			<div class="my-10">
				<p class="text-lg max-w-[800px] text-center mx-auto">
					NairaCity is a dual-purpose platform made up of subsidiaries that provide an opportunity to utilize NairaCity
					AI bots in the background, these bots trades your investment in the stock market and returns profit every two weeks, you will be elligle to withdraw these profits every two weeks, It is one of the leading mining platforms, offering mining
					capacities in every range - especially those who have no idea how the stock market or trading works.
					<br> <br>
					NairaCity Decentralized mining platform based on smart contracts that connects people from all over the world and
					opens the limitless possibilities of the new economic financial system.
					<br> <br>
					Our mission is to make the process of earning passive income easy and fast for everyone, you can immediately withdraw your referall bonus on every new user you bring in, NairaCity offers you the best experience of earning online
				</p>
			</div>
		</div>
	</section>


	<!-- How it works -->
	<section id="howitworks"fcd class="bg-[#1f1f1f] flex items-center justify-center p-5 w-screen">
		<div class="my-10 ">
			<div class="flex flex-col items-center justify-center gap-2">
				<h1 class="text-center text-5xl md:text-6xl font-sans tracking-wide font-bold text-violet-200">How it Works</h1>
				<p class="text-center italic text-md">Start making easy money in 4 steps</p>
			</div>
			<!-- Register flows -->
			<div class="flex items-center justify-center flex-col md:flex-row mt-20">
				<img src="/public/img/registration.png" class="h-[400px] max-w-[300px] md:max-w-[500px] mx-5 object-contain" alt="">
				<div class="w-full flex flex-col items-center md:items-start justify-center">
					<h1 class="pblue text-6xl font-extrabold opacity-70 mb-4">Step One</h1>
					<h1 class="text-4xl font-bold text-gray-300 text-center md:text-left">Register</h1>
					<div class="dlbtn h-[2px] my-5 w-full" ></div>
					<p class="text-lg md:text-xl font-semibold text-gray-200 text-center md:text-left max-w-[320px] md:max-w-[450px] ">
						As a new citizen of NairaCity, you need to have a verified account, visit the registration panel to register and verify your account.
					</p>
				</div>
			</div>
			<!-- Purchase flows -->
			<div class="flex items-center justify-center flex-col-reverse md:flex-row mt-20">
				<div class="w-full flex flex-col items-center md:items-start justify-center">
					<h1 class="pblue text-6xl font-extrabold opacity-70 mb-4">Step Two</h1>
					<h1 class="text-4xl font-bold text-gray-300 text-center md:text-left">Purchase a Plan</h1>
					<div class="dlbtn h-[2px] my-5 w-full" ></div>
					<p class="text-lg md:text-xl font-semibold text-gray-200 text-center md:text-left max-w-[320px] md:max-w-[450px] ">
						After registration, you will be prompted to subscribe to a plan.
						Make payment to any of our vendors to get Coupon code for your subscription.
					</p>
				</div>
				<img src="/public/img/purchase.png" class="h-[400px] max-w-[300px] md:max-w-[500px] mx-5 object-contain" alt="">
			</div>
			<!-- Mining flows -->
			<div class="flex items-center justify-center flex-col md:flex-row mt-20">
				<img src="/public/img/mining.png" class="h-[400px] max-w-[300px] md:max-w-[500px] mx-5 object-contain" alt="">
				<div class="w-full flex flex-col items-center md:items-start justify-center">
					<h1 class="pblue text-6xl font-extrabold opacity-70 mb-4">Step Three</h1>
					<h1 class="text-3xl font-bold text-gray-300 text-center md:text-left">Activate Mining Engine</h1>
					<div class="dlbtn h-[2px] my-5 w-full" ></div>
					<p class="text-lg md:text-xl font-semibold text-gray-200 text-center md:text-left max-w-[320px] md:max-w-[450px] ">
						On your dashboard, Mining Engine have been setup, Stamp on the start button and let us mine for you in the background.
					</p>
				</div>
			</div>
			<!-- ReferalFlow -->
			<div class="flex items-center justify-center flex-col-reverse md:flex-row mt-20">
				<div class="w-full flex flex-col items-center md:items-start justify-center">
					<h1 class="pblue text-6xl font-extrabold opacity-70 mb-4">Step Four</h1>
					<h1 class="text-3xl font-bold text-gray-300 text-center md:text-left">Referring</h1>
					<div class="dlbtn h-[2px] my-5 w-full" ></div>
					<p class="text-lg md:text-xl font-semibold text-gray-200 text-center md:text-left max-w-[320px] md:max-w-[450px] ">
						Give your friends the opportunity of becoming a member of this great city, all you have to do is to tell them to register via your referall link which you will find in your dashboard, you can withdraw NGN 1,000 on each referalls
					</p>
				</div>
				<img src="/public/img/referall.png" class="h-[400px] max-w-[300px] md:max-w-[500px] mx-5 object-contain" alt="">
			</div>
		</div>
	</section>

	<!-- Packages -->
	<section class="p-5 flex items-center justify-center p-5 w-screen">
		<div class="my-10 mb-40">
			<div class="flex flex-col items-center justify-center gap-2 mb-12">
				<h1 class="text-center text-3xl md:text-4xl font-sans tracking-wide font-bold text-violet-200">
					NairaCity Subscription Packages
				</h1>
				<p class="text-center italic text-lg pblue">Select the best subscription package that suits your pocket.</p>
			</div>
			<div class="border border-gray-800 rounded-md lightDark p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1">
				<h1 class="ultra text-2xl md:text-4xl mt-4 text-green-500 tracking-wider">Starter Package</h1>
				<p class="text-green-100">Mine <b>NGN250</b> Every 24 Hour</p>
				<div class="greenLine h-[2px] my-5 w-full" ></div>
				<p class="text-3xl mb-10 ultra">NGN 2.000</p>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Amount: <b>250 Naira</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Frequency: Every <b>24 Hour</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Daily Mining: Enabled</p>
				</div>
				<a href="#">
					<button class="greenBtn shadow-md shadow-green-700 p-4 rounded-full px-10 font-bold text-lg tracking-wide my-5">
						Buy Package
					</button>
				</a>
			</div>
			<div class="border border-gray-800 rounded-md lightDark p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1">
				<h1 class="ultra text-2xl md:text-4xl mt-4 text-green-500 tracking-wider">Special Package</h1>
				<p class="text-green-100">Mine <b>NGN500</b> Every 24 Hour</p>
				<div class="greenLine h-[2px] my-5 w-full" ></div>
				<p class="text-3xl mb-10 ultra">NGN 4,000</p>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Amount: <b>500 Naira</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Frequency: Every <b>24 Hour</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Daily Mining: Enabled</p>
				</div>
				<a href="#">
					<button class="greenBtn shadow-md shadow-green-700 p-4 rounded-full px-10 font-bold text-lg tracking-wide my-5">
						Buy Package
					</button>
				</a>
			</div>
			<div class="border border-gray-800 rounded-md lightDark p-3 my-10 shadow-md shadow-gray-700 flex flex-col items-center justify-center gap-1">
				<h1 class="ultra text-2xl md:text-4xl mt-4 text-green-500 tracking-wider">Premium Package</h1>
				<p class="text-green-100">Mine <b>NGN1000</b> Every 24 Hour</p>
				<div class="greenLine h-[2px] my-5 w-full" ></div>
				<p class="text-3xl mb-10 ultra">NGN 6,000</p>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Amount: <b>1000 Naira</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Mining Frequency: Every <b>24 Hour</b></p>
				</div>
				<div class="w-full p-5 flex gap-5 items-center justify-between">
					<div class="greenDot"></div>
					<p class="flex-1 font-semibold text-lg">Daily Mining: Enabled</p>
				</div>
				<a href="#">
					<button class="greenBtn shadow-md shadow-green-700 p-4 rounded-full px-10 font-bold text-lg tracking-wide my-5">
						Buy Package
					</button>
				</a>
			</div>
		</div>
	</section>

	<%- include('partials/footer.ejs') %>
	<!-- Javascript codes and links -->

</body>
</html>