
  <%- include('partials/header.ejs') %>

  <body class="bg-black">
     
        <section class="pt-28 flex items-center justify-center">
            <div class="mb-20 p-5 flex items-center justify-center flex-col gap-5">
                <img src="/public/img/newLogo.png" class="h-10 " alt="">
                <p>The next big thing</p>
                <img src="/public/img/timer.gif" class="h-20 " alt="">
                <h1 class="font-semibold">Launching today, 12 PM PROMPT...</h1>
            </div>
        </section>
  

  </body>
  </html>