<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/public/img/FAVICON.png" />
	<script src="/public/styles/tailwind.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
	<title>NairaCity -Admin</title>
	<style>
		body{
			/* background-color: #afafaf; */
			background-color: rgb(235, 235, 235);

		}
		.ultra{
			font-family: 'Ultra', serif;
		}
		</style>
	<link rel="stylesheet" href="/public/styles/style.css" />
</head>