<section class="bg-[#afafaf] sidebar hidden md:block z-10 col-span-1 border-r border-green-200 min-h-screen h-full pt-28">
    <div>
        <!-- Dashboard -->
        <a href="/admin">
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                </svg>
                <p class="text-sm font-bold text-gray-600 cursor-pointer ">Dashboard</p>
            </div>
        </a>
        <!-- Users -->
        <a href="/admin/users">
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                    </path>
                </svg>
                    <p class="text-sm font-bold text-gray-600 cursor-pointer ">Users</p>
            </div>
        </a>
        <!-- Generate Starter Coupon -->
        <p>
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                    </path>
                </svg>
                    <p class="text-sm font-bold text-gray-600 cursor-pointer starter">Gen Starter</p>
            </div>
        </p>
        <!-- Generate Special Coupon -->
        <p>
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                    </path>
                </svg>
                    <p class="text-sm font-bold text-gray-600 cursor-pointer special">Gen SPECIAL</p>
            </div>
        </p>
        <!-- Generate Premium Coupon -->
        <p>
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                    </path>
                </svg>
                    <p class="text-sm font-bold text-gray-600 cursor-pointer premium">Gen PREMIUM</p>
            </div>
        </p>
        <!-- Log Out -->
        <a href="#" class="logout">
            <div class="flex items-center justify-start m-2 gap-5 hover:bg-gray-200 px-2 py-5">
                <svg class="h-7 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                </svg>
                    <p class="text-sm font-bold text-gray-600 cursor-pointer ">Log Out</p>
            </div>
        </a>
    </div>

    <script src="/public/admin/generateCoupon.js"></script>
</section>